# ============================================
# Backend (Spring Boot)
# ============================================

backend/target/


# ============================================
# Frontend (Angular)
# ============================================

frontend/node_modules/
frontend/dist/


# ============================================
# IDEs
# ============================================

.vscode/
.idea/
.zed/


# ============================================
# Scripts
# ============================================

script/dev-env.sh
